.container {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95vh;
  height: 95vh;
  margin: 10px;
  border-radius: 7px;
  > * {
    width: 250px;
    border-radius: 7px;
    margin-bottom: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}

.inputFields {
  height: 100px;
  display: grid;
  grid-template-columns: auto;
  > * {
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 5px;
  }
}
